<!DOCTYPE html>
<html lang="en">


<head>
<title>Donations-Santi's Studios</title>
<link href="Imgs/logo SS.png" rel="shortcut icon" />
<link rel="stylesheet" href="styles.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<div class="border">
<body>
<h1>Donations</h1>
<div class="buttons">
<h3><a href="Projects.html">Projects</a></h3>  <h3><a href="Index.html">Home</a></h3> <h3><a href="Donations.html">Donations</a></h3>
</div>
<div class="Img-logo">
<a href="Info.html"><img src="Imgs/logo SS.png"></div></a>

<div class="dollartimes-pb" style="font-family: arial; width: 300px; box-sizing: border-box; clear:both;">
    <div class="dollartimes-pb-title" style="font-size:16px; overflow: hidden;">Donations Bar</div>
    <div class="dollartimes-pb-frame" title="$0 / 0% towards goal" style="border-radius: 5px; background-color: #ffffff;padding: 0px;border: 1px solid #000; height: 30px; margin: 2px 0 1px;">
      <div class="dollartimes-pb-fill" style="width:0%; height: 100%; margin-top: 0px; background: repeating-linear-gradient(-45deg, rgba(74,134,232,1), rgba(74,134,232,1) 8px, rgba(74,134,232,0.8) 8px, rgba(74,134,232,0.8) 16px);">&nbsp;</div>
    </div>
    <div>
      <span class="dollartimes-pb-caption" style="float: left; font-size: 12px;">$0</span>
      <span class="dollartimes-pb-caption" style="float: right; font-size: 12px;">$1,000</span>
    </div>
    <div style="clear: both;"></div>
    <div style="margin: 2px 0 0 0; text-align: right;">
    </div>
  </div>

</div>





</body>

</html>
    