<!DOCTYPE html>
<html lang="en">


<head>
<title>Santi's Studios</title>
<link href="Imgs/logo SS.png" rel="shortcut icon" />
<link rel="stylesheet" href="styles.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<div class="border">
<body>
<h1>Welcome to Santi's Studios Web</h1>
<div class="buttons">
<h3><a href="Projects.html">Projects</a></h3>  <h3><a href="Index.html">Home</a></h3> <h3><a href="Donations.html">Donations</a></h3>
</div>
<div class="Img-logo">
<a href="Info.html"><img src="Imgs/logo SS.png"></a></div>


<h3>Here you can see all our projects and updates of our games</h3>
<h3>Click "Projects" to see all our projects</h3>
<h3>We want to improve our business so any donation is appreciated. Click "Donations" to donate</h3>
<h3>You also contact us by email to "santisstudio@gmail.com" or joining our discord</h3>
</div>



<div class="Images">
    <a href="https://discord.gg/eczQQEAwEV" target="_blank"><img src="Imgs/Join our Discord.png"></a></div>





</body>







</html>