<!DOCTYPE html>
<html lang="en">


<head>
<title>Info-Santi's Studios</title>
<link href="Imgs/logo SS.png" rel="shortcut icon"/>
<link rel="stylesheet" href="styles.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="border">

<body>
<h1>About Santi's Studios</h1>
<div class="buttons">
    <h3><a href="Projects.html">Projects</a></h3>  <h3><a href="Index.html">Home</a></h3> <h3><a href="Donations.html">Donations</a></h3>
    </div>
    <div class="Img-logo">
    <a href="Info.html"><img src="Imgs/logo SS.png"></div></a>
    <p>We are a indie business about video games developement. We are working very hard to develop "Far Form Home" and we are trying to make a good game. However we don't have a good income to create and develop this video game, so if you want to help us you can do it with a donation. If you want to suggest something about the business or about the videogames you can leave a suggestion in our discord.</p>


</div>


         





</body>



</html>



















</html>